@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Julee&display=swap');

.navbar-brand img {
    height: 7rem;
    width: 7rem;
}

.characters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    margin: .5rem;
    position: relative;

    .card-header {
        margin-left: 5rem;
        font-family: 'Julee', cursive;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-body {
        justify-content: center;
        align-self: center;
        text-align: center;

        .card-img-top {
            width: 150px;
            height: 200px;
            object-fit: cover;
        }

        .house {
            position: absolute;
            top: .5rem;
            left: .5rem;
            width: 5rem;
        }
    }
}




table {
    height: 20rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: column;

    td {
        width: 8rem;

        i {
            font-size: 1.5rem;
        }
        .bi-check {
            color: rgb(14, 194, 14);
        }
        .bi-x {
            color: rgb(214, 27, 27);
        }
    }
}