.navbar-brand img {
  height: 7rem;
  width: 7rem; }

.characters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: flex-start; }

.card {
  margin: 1rem;
  position: relative; }

.card-img-top {
  height: 25rem;
  width: 15rem;
  object-fit: cover; }

.card-img-overlay {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 100%;
  padding: 0; }
