.navbar-brand img {
  height: 7rem;
  width: 7rem; }

.characters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; }

.card {
  margin: .5rem;
  position: relative; }
  .card .card-header {
    margin-left: 5rem; }
  .card .card-body {
    justify-content: center;
    align-self: center;
    text-align: center; }
    .card .card-body .card-img-top {
      width: 150px;
      height: 200px;
      object-fit: cover; }
    .card .card-body .house {
      position: absolute;
      top: .5rem;
      left: .5rem;
      width: 5rem; }

table {
  height: 20rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column; }
  table td {
    width: 8rem; }
