@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Julee&display=swap");
.navbar .navbar-brand img {
  height: 7rem;
  width: 7rem; }

.navbar a {
  text-decoration: none;
  color: black; }

.navbar a:hover {
  text-decoration: none;
  color: #e62727; }

.card {
  margin: .25rem;
  position: relative; }
  .card .card-header {
    margin-left: 5rem;
    font-family: 'Julee', cursive;
    font-size: 1.5rem;
    font-weight: bold; }
  .card .card-body {
    justify-content: center;
    align-self: center;
    text-align: center; }
    .card .card-body .card-img-top {
      width: 150px;
      height: 200px;
      object-fit: cover; }
    .card .card-body .house {
      position: absolute;
      top: .5rem;
      left: .5rem;
      width: 5rem; }

table {
  height: 25rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: column; }
  table td {
    width: 8rem; }
    table td i {
      font-size: 1.5rem; }
    table td .bi-check {
      color: #0ec20e; }
    table td .bi-x {
      color: #d61b1b; }

.characters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }

.spells-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .spells-container .card {
    width: 20rem;
    height: 12rem; }
